body {
    background-color: #785132;
    margin: 0;
}

.container {
    width: 50%;
    border-radius: 3px;
    margin: 10px auto;
    background-color: #FFDFAF;
    padding: 10px 30px;
    text-align: center;
}

.container table {
    margin: 0 auto;
}

a:visited {
    color: blue;
}

.inputform {
    width: 250px;
    height: 30px;
}

#lngform {
    height: 45px;
}

#left{
    text-align: left;
    float: left;
}

.header {
    height: 180px;
    border-bottom: 1px solid aliceblue;
    background: url('../images/2.jpg') center;
}

.authbtn{
    box-sizing: border-box;
    width: 26px;
}

#top {
    height: 110px;
}

.headerTitle {
    position: relative;
    top: 10px;
    left: 20%;
    font-size: 120pt;
    color: white;
}

.tobasket {
    width: 40px;
    height: 40px;
    background: transparent url('/images/basket.png') !important;
    border: 1px solid transparent !important;
}

.edit {
    width: 40px;
    height: 40px;
    background: transparent url('/images/edit.png') !important;
    border: 1px solid transparent !important;
}

.send {
    width: 40px;
    height: 40px;
    background: transparent url('/images/send.png') !important;
    border: 1px solid transparent !important;
}

input[type="submit"] {
    font-weight: bold;
    padding: 4px 8px;
    border: 1px solid #000;
    background: #6E3801;
    color: #fff;
    cursor: pointer;
    height: 30px;
    margin-top: 10px;
    text-transform: uppercase;
}

input[type="submit"]:hover {
    background: #B26B25;
}

.button {
    width: 40px !important;
    height: 40px !important;
}

.red {
    color: red;
}

#msg {
    color: red;
    display: none;
}

#errormessage {
    color: red;
}

.flag {
    width: 50px;
    height: 25px;
    float: right;
}

textarea {
    resize:vertical;
}